<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recording Control</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Recording Control</h1>
      <button class="button start">Start Record</button>
      <button class="button stop">Stop Record</button>
      <button class="button alert">Send Alert</button>
    </div>
    <script src="./script.js" defer></script>
  </body>
</html>
